<html dir="rtl" lang="AR">
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  
  
<link id="bootstrapcss" href="bootstrap" rel="stylesheet">
    <link id="headercss" href="headercss" rel="stylesheet">
   	<link id="stylecss" href="stylecss" rel="stylesheet">
  
<div id="app">
  <mynavbar></mynavbar>
  <myheader id="header"></myheader>
  <myjs id="js"></myjs>
  <mycontent id="content"></mycontent>
  <mypagination id="pagination"></mypagination>
  <myfooter id="footer"></myfooter>
  </div>
  
  <script src='homejs'></script>
  
<style>
    #app {
  min-height: 94.5vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  box-sizing: border-box;
}


#footer {
  position: absolute;
  bottom: 0;
  color:white;
  width: 100%;
}
</style>



<div  style="display: none">
    <div   id="content_links">
    <div class="row">
    <div class="col-md-2">
        
            <ul class="list-unstyled">
                <br> <br> <br>

                <li><a href="hrs">الرئيسية</a></li>
                <br>
                <li><a href="grade_list">استعراض المراتب</a> </li>
                <li><a href="grade_form">استحداث مرتبة</a> </li>
                <br>
                <li><a href="step_form">استحداث درجة</a> </li>
                <br>
                <li><a href="bonus_list">استعراض البدلات</a> </li>
                <li><a href="bonus_form">استحداث بدل</a> </li>
        </ul>
       
    </div>
        <div class="col-md-8"><br><hr>
         
              <div id="action-home">
        	<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-6">

<h4>{{bonus}}</h4>
<hr>
    </div>
</div>
<div class="row">

    <div class="col-md-1"> </div>
    <div class="col-md-6">
    <div align="left"> <a href="bonus_delete">حذف </a> | <a href="{% url 'hr:update_bonus' bonus.id %} ">تعديل  </a></div>
        <p><strong>المسمى:</strong> {{bonus.name}}</p>
        {% if bonus.amount is None %}
            <p><strong>المبلغ:</strong> ـــ</p>
        {% else %}
        <p><strong>المبلغ:</strong> {{bonus.amount}}</p>
        {% endif %}
         {% if bonus.percentage is None %}
            <p><strong>النسبة:</strong> ـــ</p>
         {% else %}
            <p><strong>النسبة:</strong> {{bonus.percentage}}</p>
        {% endif %}


    </div>
    </div>

 {% endblock %}
              </div>
        </div>
    
    </div>
    </div>
    </div>
     <script> 
    $(function(){
      $("#content").html($("#content_links").html());
    });
    </script> 
    
    
</html>
