<html dir="rtl" lang="AR">
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script> 
    $(function(){
      $("#sta_detail").load("staff_home");
     setTimeout(function(){ $("#action-home").html($("#sta-action").html()); }, 500);
    });
    </script> 
<div id="sta_detail"></div>

  <div id="sta-action" style="display: none">
  <h3>حذف موظف</h3>

<p>  هل أنت متأكد من رغبتك في حذف {{ staff }}؟</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="نعم, احذف.">
</form>
    {% endblock %}
    </div>
    </html>