<html dir="rtl" lang="AR">
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

   
<link id="bootstrapcss" href="bootstrap" rel="stylesheet">
    <link id="headercss" href="headercss" rel="stylesheet">
   	<link id="stylecss" href="stylecss" rel="stylesheet">
  
   
  
    <style>
   
#footer {
  position: absolute;
  bottom: 54;
  color:white;
  width: 100%;
}
</style>
  
 <div id='app'>
  <mynavbar></mynavbar>
  <myfooter id="footer"></myfooter>
  </div>  
  <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">

    <div class="container">
      <a class="navbar-brand" href="{% url 'hr:index' %}"> الموارد البشرية</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#home-navbarResponsive" aria-controls="home-navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="home-navbarResponsive">
        <ul class="navbar-nav ml-auto">
             	
            <li class="nav-item">
            <a class="nav-link" href="staff_home">الموظفون</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="overtime_home">خارج الدوام</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="leave_home">الإجازات</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="job_home">الوظائف</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="grade_home">المراتب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="department_home">الإدارات</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="pay_home">Payroll</a>
          </li>


           
        </ul>
      </div>
    </div>
  </nav>
  </div>


    <div   id="content_links">
    <div class="row">
    <div class="col-md-2">
         
            <ul class="list-unstyled">
                <br> <br> <br>

                <li><a href="hrs">الرئيسية</a></li>
                <br>
                <li><a href="staff_list">استعراض الموظفين</a></li>
                <li><a href="staff_form">إضافة موظف</a> </li>
                 <li><a href="staff_commence">بدء موظف</a> </li>
                 <li><a href="staff_leave">طلب اجازة</a> </li>
                 <li><a href="manageLeave">الموافقة على اجازة</a> </li>
                 <li><a href="staff_return">عودة الموظف من الاجازة</a> </li>
                 <li><a href="new_account">اضافة حساب جديد</a> </li>
                <br>
                <br>
                <li><a href="staff_bonus_list">استعراض بدلات الموظفين</a></li>
                <li><a href="staff_bonus_form">اضافة بدل لموظف</a></li>
        </ul>
        
         </div>
    <div class="col-md-9"><br><hr>
         
              
              <div id="action-home">
              		
         
<div class="row">
        <div class="col-md-1"> </div>

<div class="col-md-10">
   
    <h4>الموظف {{employee[2]}} {{employee[4]}}</h4>
    <a href="staff_delete">حذف </a> |
                       <a href="{% url 'hr:update_staff' staff.id %} ">تعديل  </a> |
                           <a href="{% url 'hr:staff' staff.id %} ">الملف الشخصي  </a> |
   
    <hr>
</div>
</div>

<div class="row">
        <div class="col-md-1"> </div>

<div class="col-md-8" align="left">
   
                       <a href="register">انشئ حساب  </a>|
       
                        <a href="register">عدل الحساب  </a>|
        
                <a href="staff_pay">هيكل المرتب </a> |
                <a href="staff_bonus_form">إضافة بدل </a>
  
 </div>
</div>
    <div class="row">
                <div class="col-md-3"> </div>

<div class="col-md-6" align="right">

   <div>
    <br>
    <p><strong>الرقم الوظيفي:</strong> {{employee[0]}}</p>

<br>
<p><strong> رقم الهوية الوطنية/رقم الاقامة:</strong> {{employee[1]}}</p>
    <p><strong>الاسم الاول:</strong> {{employee[2]}}</p>

<p><strong>الاسم الثاني:</strong> {{employee[3]}}</p>
    <p><strong>الاسم الاخير:</strong> {{employee[4]}}</p>

<p><strong>تاريخ الميلاد:</strong> {{employee[5]}}</p>
    <p><strong>الدرجة العلمية:</strong> {{employee[6]}}</p>

    <p><strong>الجنس:</strong> {{employee[7]}}</p>
    <p><strong>تاريخ البدء:</strong> {{employee[8]}}</p>
        <p><strong>رصيد الإجازات العادية:</strong> {{employee[9]}}</p>
        
<p><strong>رصيد الإجازات المرضية:</strong> {{employee[10]}}</p>
</div>

</div>
    </div>


  

              </div>
              <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
              <script class="vue" src="staff_detailjs"></script>
              
    </div>
    </div>
    </div>
   
     <script src='basejs'></script>	 
    
</html>


