<html dir="rtl" lang="AR">
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

   
<link id="bootstrapcss" href="bootstrap" rel="stylesheet">
    <link id="headercss" href="headercss" rel="stylesheet">
   	<link id="stylecss" href="stylecss" rel="stylesheet">
  
 
<div id="app">
  <mynavbar></mynavbar>
  <myheader id="header"></myheader>
  <myjs id="js"></myjs>
  <mycontent id="content"></mycontent>
  <mypagination id="pagination"></mypagination>
  <myfooter id="footer"></myfooter>
  </div>
  
  <script src='homejs'></script>
  
<style>
    #app {
  min-height: 94.5vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  box-sizing: border-box;
}


#footer {
  position: absolute;
  bottom: 0;
  color:white;
  width: 100%;
}
</style>



    <div  style="display: none">
    <div   id="content_links">
    <div class="row">
    <div class="col-md-2">
         
            <ul class="list-unstyled">
                <br> <br> <br>

                <li><a href="hrs">الرئيسية</a></li>
                <br>
                <li><a href="staff_list">استعراض الموظفين</a></li>
                <li><a href="staff_form">إضافة موظف</a> </li>
                 <li><a href="staff_commence">بدء موظف</a> </li>
                 <li><a href="staff_leave">طلب اجازة</a> </li>
                 <li><a href="staff_return">عودة الموظف من الاجازة</a> </li>
                <br>
                <br>
                <li><a href="staff_bonus_list">استعراض بدلات الموظفين</a></li>
                <li><a href="staff_bonus_form">اضافة بدل لموظف</a></li>
        </ul>
        
         </div>
    <div class="col-md-8"><br><hr>
         
              <div id="action-home">
              		
         
<div class="row">
        <div class="col-md-1"> </div>

<div class="col-md-10">
    {% if staff is None %}
        <h4>موظف جديد</h4>

    {% else %}
    <h4>الموظف {{staff.first_name}} {{staff.last_name}} </h4>
    <a href="staff_delete">حذف </a> |
                       <a href="{% url 'hr:update_staff' staff.id %} ">تعديل  </a> |
                           <a href="{% url 'hr:staff' staff.id %} ">الملف الشخصي  </a> |
    {% endif %}
    <hr>
</div>
</div>

<div class="row">
        <div class="col-md-1"> </div>

<div class="col-md-8" align="left">
    {% if staff is not None %}

        {% if staff.user == None %}
                       <a href="register">انشئ حساب  </a>|
        {% else %}
                        <a href="register">عدل الحساب  </a>|
        {% endif %}
                <a href="staff_pay">هيكل المرتب </a> |
                <a href="staff_bonus_form">إضافة بدل </a>
    {% endif %}
 </div>
</div>
    <div class="row">
                <div class="col-md-3"> </div>

<div class="col-md-6" align="right">

   <div id="detail">
    <br>
    <p><strong>حساب المستخدم:</strong> {{staff.user.username}}</p>

<br>
<p><strong>تاريخ الميلاد:</strong> {{staff.birth_date}}</p>
    <p><strong>السجل المدني:</strong> {{staff.national_ID}}</p>

<p><strong>سيرة مختصرة:</strong> {{staff.short_bio}}</p>
    <p><strong>الدرجة العلمية:</strong> {{staff.get_degree_display}}</p>

<p><strong>الوظيفة:</strong> {{staff.job}}</p>
    <p><strong>الإدارة:</strong> {{staff.department}}</p>

    <p><strong>المرتبة:</strong> {{staff.grade}}</p>
    <p><strong>الراتب:</strong> {{staff.grade.salary}}</p>
        <p><strong>السيرة:</strong> {{staff.short_bio}}</p>


<br>
<p><strong>رصيد الإجازات العادية:</strong> {{staff.available_leave}}</p>
<p><strong>رصيد الإجازات المرضية:</strong> {{staff.available_sick_leave}}</p>
<p><strong>رصيد الإجازات المرضية:</strong> {{staff.available_sick_leave}}</p>
</div>

</div>
    </div>


    {% endblock %}

              </div>
              <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
              <script class="vue"></script>
              
    </div>
    </div>
    </div>
    </div>
     <script> 
    $(function(){
      $("#content").html($("#content_links").html());
    });
    </script> 
    
</html>


