<html dir="rtl" lang="AR">
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
$(document).ready( function(){
    	var xmlhttp = new XMLHttpRequest();
    	var breeds = {};
    	var here
    	function sendXHR(type, url, data, callback) {
    		xmlhttp = new XMLHttpRequest() || new window.ActiveXObject("Microsoft.XMLHTTP");
    		xmlhttp.open(type, url, true);
    		xmlhttp.send(data);
    		xmlhttp.onreadystatechange = function() { // Use onreadystatechange instead onload.
    	      if (this.status === 200 && this.readyState === 4) {
    	        callback(this.response);
    	        var list = JSON.parse(xmlhttp.responseText);
    	        var opt = document.getElementById("employees");
    	        var w = null;
    	        var j;
    	        console.log(list);
    	        for (i in list){
    	        	if(w == null){
    	        		w = "<tr>"+
    	                 	"<th>الرقم الوظيفي</th>"+
    	                 	"<th>رقم الهوية الوطنية/رقم الاقامة</th>"+
    	                 	"<th>الاسم الاول</th>"+
    	                 	"<th>الاسم الثاني</th>"+
    	                 	"<th>الاسم الاخير</th>"+
    	                 	"<th>تاريخ الميلاد</th>"+
    	                 	"<th>الدرجة العلمية</th>"+
    	                 	"<th>الجنس</th>"+
    	                 	"<th>تاريخ البدء</th>"+
    	                 	"<th>رصيد الاجازات</th>"+
    	                 	"<th>رصيد الاجازات المرضية</th>"+
    	                 "</tr><tr>";
    	                 var k = 0;
    	                 for(j in list[i]){
    	                	 if(k == 0){
    	                		 list[i].pop();
    	                		 k = 1;
    	                	 }
    	                 w += "<td>"+ list[i][j] + "</td>";
    	                 }
    	                 w += "</tr>";
    	        	}else{
    	        		var k = 0;
   	                 for(j in list[i]){
   	                	 if(k == 0){
   	                		 list[i].pop();
   	                		 k = 1;
   	                	 }
   	                 w += "<td>"+ list[i][j] + "</td>";
   	                 }
   	                 w += "</tr>";
    	        	}
    	        	
    	        	
    	        }
    	        opt.innerHTML = w;
    	      }
    	    };
    	  }
		
		sendXHR("GET", "listEmployees", null, function(response) {
		breeds = JSON.parse(response);
		});
    });
    </script>
    
   
<link id="bootstrapcss" href="bootstrap" rel="stylesheet">
    <link id="headercss" href="headercss" rel="stylesheet">
   	<link id="stylecss" href="stylecss" rel="stylesheet">
  
 
<div id="app">
  <mynavbar></mynavbar>
  <myheader id="header"></myheader>
  <myjs id="js"></myjs>
  <mycontent id="content"></mycontent>
  <mypagination id="pagination"></mypagination>
  <myfooter id="footer"></myfooter>
  </div>
  
  <script src='homejs'></script>
  
<style>
    #app {
  min-height: 94.5vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  box-sizing: border-box;
}


#footer {
  position: absolute;
  bottom: 0;
  color:white;
  width: 100%;
}
</style>



    <div  style="display: none">
    <div   id="content_links">
    <div class="row">
    <div class="col-md-2">
         
            <ul class="list-unstyled">
                <br> <br> <br>

                <li><a href="hrs">الرئيسية</a></li>
                <br>
                <li><a href="staff_list">استعراض الموظفين</a></li>
                <li><a href="staff_form">إضافة موظف</a> </li>
                 <li><a href="staff_commence">بدء موظف</a> </li>
                 <li><a href="staff_leave">طلب اجازة</a> </li>
                 <li><a href="staff_return">عودة الموظف من الاجازة</a> </li>
                <br>
                <br>
                <li><a href="staff_bonus_list">استعراض بدلات الموظفين</a></li>
                <li><a href="staff_bonus_form">اضافة بدل لموظف</a></li>
        </ul>
        
         </div>
    <div class="col-md-9"><br><hr>
         
              <div id="action-home">
              		
          <h3 align="right">دليل الموظفين</h3>
<br>

<div class="row align-right">
		<table id="employees" style="width:100%">
		</table>

    </div>
<br>
   
              </div>
              <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
              <script class="vue"></script>
              
    </div>
    </div>
    </div>
    </div>
     <script> 
    $(function(){
      $("#content").html($("#content_links").html());
    });
    </script> 
    
</html>
